<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{!-- Start Navbar --}}
    {{>navbar}}
    {{!-- End Navber --}}

    {{!-- Start Main Heading --}}
    <div class="main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid  main_content">
                    <form class="temp_form ">
                        <input type="text" id="cityName" placeholder="Enter you city name.." autocomplete="off">
                        <br>
                        <input type="submit" value="search" id="submitBtn">
                        <p id="temp_err"></p>
                    </form>

                    <div class="tempInformation  ">
                        <div class="top_layer">
                            <p id="day">Tuesday</p>
                            <p id="today_date">13 oct</p>
                        </div>
                        <div class="main_layer ">
                            <p id="city_name">Get output here </p>
                            <div class="middle_layer data_hide">
                                <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                                <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {{!-- End Main Heading --}}

    {{!-- Start Footer code --}}
    <footer>
        <p>Copyright &copy; 2021 || Designed By Node Express Web Development Master</a></p>
    </footer>
    {{!-- End footer code --}}

    <script src="js/main.js"></script>
    <script>
        const getCurrentDay = () => {
            let weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currentTime = new Date();
            day = weekday[currentTime.getDay()];

            return day;
        };

        const getCurrentTime = () => {
            var months = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec",
            ];

            var now = new Date();
            var hours = now.getHours();
            var mins = now.getMinutes();

            var month = months[now.getMonth() + 1];
            var date = now.getDate();

            var period = "am";
            if (hours > 11) {
                period = "pm";
                if (hours > 12)
                    hours -= 12;  // Format for 12-hr clock
            }
            if (mins < 10) {
                mins = "0" + mins;  // Format minutes
            }

            return `${month} ${date} | ${hours}:${mins}${period}`;
        }
        let day = document.getElementById('day');
        let today_date = document.getElementById('today_date');

        day.innerHTML = getCurrentDay();
        today_date.innerHTML = getCurrentTime();


    </script>
</body>

</html>